<div class="jumbotron">
    <div class="row">
        <div class="col-sm d-flex justify-content-center mb-5">
            <h1 class="display-5">Hey {{username}}, here is your current balance :</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm d-flex justify-content-center">
            <h3> Cash : {{cash}}</h3>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <h3> E-Wallet : {{ewallet}}</h3>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <h3> Bank : {{bank}}</h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-4 d-flex justify-content-center mt-5">
            <button type="button" class=" btn btn-dark" data-toggle="modal" data-target="#exampleModal">
                Update
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="http://localhost:5000/update_balance" method="post" role="form">
                    <div class="form-group row">
                        <label for="cash" class="col-sm-2 col-form-label">Cash</label>
                        <div class="col-sm-5">
                            <input type="number" name="cash" class="form-control" id="cash" placeholder="Cash">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cash" class="col-sm-2 col-form-label">Ewallet</label>
                        <div class="col-sm-5">
                            <input type="number" name="ewallet" class="form-control" id="cash" placeholder="E-Wallet">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="cash" class="col-sm-2 col-form-label">Bank</label>
                        <div class="col-sm-5">
                            <input type="number" name="bank" class="form-control" id="cash" placeholder="Bank">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" tabindex="4" class="form-control btn btn-login">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" id="jumbo">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-sm d-flex justify-content-center mb-3">
                    <h2>Add Expense</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <form action="http://localhost:5000/expenditure" method="post" role="form" id="income">
                        <div class="form-group">
                            <select class="custom-select" name="category">
                                <option selected>What did you spend on?</option>
                                <option value="Food">Food</option>
                                <option value="Travel">Travel</option>
                                <option value="Utilities">Utilities</option>
                                <option value="Laundry">Laundry</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                            <div class="col-10">
                                <input type="number" class="form-control" id="amount" placeholder="How much did you spend?" name="amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class='input-group'>
                                <label for='date' class='col-sm-2 col-form-label'>Date</label>
                                <input type='date' class="form-control" id='date' placeholder='Date' name='date'>
                                <label for='time' class='col-sm-2 col-form-label'>Time</label>
                                <input type='time' class='form-control' id='time' placeholder='Time' name='time'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="custom-select" name="mode">
                                <option selected>Mode of Payment</option>
                                <option value="cash">Cash</option>
                                <option value="ewallet">E-Wallet</option>
                                <option value="card">Card</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comments</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comments"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Submit">Submit</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-sm d-flex justify-content-center mb-3">
                    <h2>Add Income</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <form action="http://localhost:5000/income" method="post" role="form" id="income">
                        <div class="form-group">
                            <select class="custom-select" name="category">
                                <option selected>Source</option>
                                <option value="Parents">Parents</option>
                                <option value="Salary">Salary</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-sm-2 col-form-label">Amount</label>
                            <div class="col-10">
                                <input type="number" class="form-control" id="amount" placeholder="Amount" name="amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class='input-group'>
                                <label for='date' class='col-sm-2 col-form-label'>Date</label>
                                <input type='date' class="form-control" id='date' placeholder='Date' name='date'>
                                <label for='time' class='col-sm-2 col-form-label'>Time</label>
                                <input type='time' class='form-control' id='time' placeholder='Time' name='time'>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select class="custom-select" name="mode">
                                <option selected>Mode of Payment</option>
                                <option value="cash">Cash</option>
                                <option value="ewallet">E-Wallet</option>
                                <option value="card">Card</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comments</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comments"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <button type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Submit">Submit</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>