<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 class="mb-3 mt-3 d-flex justify-content-center">Expense Distribution</h2>
            <canvas id="expensePieChart"></canvas>
        </div>
        <div class="col-sm">
            <h2 class="mb-3 mt-3 d-flex justify-content-center">Income Distribution</h2>
            <canvas id="incomePieChart"></canvas>
        </div>
    </div>
</div>
<script src="./js/chart.js"></script>